#container {
    margin: 5px;
    text-align: center;
}

#main {
    width: fit-content;
    background-color: lightblue;
    overflow: auto;
    display: grid;
    margin: 0 auto;

}

#side {
    background-color: transparent;
    padding: 5px;
    margin: 0 auto;
}


.card {
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    margin: 5px;
    float: left;
    box-shadow: gray 10px 10px 10px;
}
.card-front {
    background-color: red;
    display: none;
    position: relative;
    top: 0;
    left: 0;
}

.face-content{
    font-size: 180px;
    text-align: center;
    vertical-align: middle;
    font-family: monospace;

}
.card-back {
    background-color: darkgoldenrod;
    display: block;
    position: relative;
    top: 0;
    left: 0;
}

.show {
    width: 200px;
    visibility: visible;
    display: block;
}

.hide {
    visibility: hidden;
    display: none;
}

.matched {
    background-color: transparent;
    border-radius: 100px;

}

.check{
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 100px;
    color: green;
}