#container {
    /*resize: both;*/
    margin: 5px;
}

#main {
    width: 85%;
    background-color: lightblue;
    overflow: auto;
    display: grid;
    float: left;

}

#side {
    width: 14%;
    background-color: transparent;
    padding: 5px;
    float: left;
}


.card {
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    margin: 5px;
    float: left;
    box-shadow: gray 10px 10px 10px;
    /*display: inline-block;*/
}
.card-front {
    background-color: red;
    display: none;
    position: relative;
    top: 0;
    left: 0;
}
.card-back {
    background-color: darkgoldenrod;
    display: block;
    position: relative;
    top: 0;
    left: 0;
}

.show {
    width: 100px;
    visibility: visible;
    display: block;
}

.hide {
    visibility: hidden;
    display: none;
}

.matched {
    background-color: gray;
}