body {
  background-image: url("../images/background_wood.jpg");
}

#container {
  margin: 0 auto;

}

#main {
  background-color: transparent;
  margin: 0 auto;
  padding: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#top {
  background-color: transparent;
  padding: 5px;
  margin: 0 auto;
  background-color: rgba( 128, 0, 0, 0.5 );
  height: 5em;
  text-align: center;
}

.info {
  font-size: 3em;
  background-color: rgba( 255,255,255,0.5 );
  min-width: 200px;
  text-align: center;
  display: inline-block;
  border-radius: 8px;
  margin: 10px;
  box-shadow: black 3px 4px 4px;
  color: maroon;
  font-weight: bold;
}

.bt {
  font-size: 3em;
  background-color: rgba( 255,255,255,0.5 );
  min-width: 200px;
  max-width: 200px;
  width: 200px;
  text-align: center;
  display: inline-block;
  border-radius: 8px;
  margin: 10px;
  box-shadow: black 3px 4px 4px;
  color: maroon;
  font-weight: bold;
  cursor: pointer;
}

.pointer{
  cursor: pointer;
}

.row {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.card {
  float: left;
  min-width: 220px;
  min-height: 220px;
  max-height: 220px;
  background-size: cover;
  position: relative;
  top: 0;
  margin: 15px 5px 5px 5px;
}
.card-front {
  background-image: url("../images/front.jpg");
  top: 0;
  left: 0;
  box-shadow: black 10px 10px 10px;
}

.face-content{
  font-size: 170px;
  text-align: center;
  vertical-align: middle;
  font-family: monospace;
  color: maroon;
  text-shadow: 0 5px 5px rgba(0,0,0,0.5);
  user-select: none;
}
.card-back {
  background-image: url("../images/back.jpg");
  background-size: cover;
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  box-shadow: black 10px 10px 10px;
}

.show {
  visibility: visible;
  display: inline-block;
}

.hide {
  visibility: hidden;
  display: none;
}

.matched {
  background-color: transparent;
  border-radius: 90px;
  box-shadow: black 3px 4px 4px

}

.check{
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 90px;
  color: darkgreen;
}

.gif{
  position: fixed;
width: 100%;
z-index: 10000;
}
